<!-- http://localhost:4000/region -->

<div>
    <div>
        <div [attr.role]="'main'">
            Main Role Div
        </div>
        <div id="1">
            <div>
                <div>
                    <div>
                        depth testing
                    </div>
                </div>
            </div>
        </div>
        <div id="2">
            Lorum Ipsum
        </div>
        <div id="3">
            another one
        </div>
    </div>
    <div>
        Testing
    </div>
    <app-import></app-import>
</div>
